<div class="table-responsive">
  <table class="table table-sm table-borderless">
    {% assign news = site.news | reverse %}
    {% for item in news %}
      <tr class="news-item">
        <th scope="row" style="width: 20%">{{ item.date | date: "%b, %Y" }}</th>
        <td>
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            {{ item.content }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>




<div id="pagination" style="text-align: center;">
  <button class="arrow-button left "onclick="showPrevPage()"></button>
  <button class="arrow-button right"onclick="showNextPage()"></button>
</div>


<script>
  var currentPage = 0;
  var pageSize = 5;
  var items = document.querySelectorAll('.news-item');

  function showPage(page) {
    var start = page * pageSize;
    var end = start + pageSize;
    items.forEach((item, index) => {
      if (index >= start && index < end) {
        item.style.display = '';
      } else {
        item.style.display = 'none';
      }
    });
  }

  function showNextPage() {
    if ((currentPage + 1) * pageSize < items.length) {
      currentPage++;
      showPage(currentPage);
    }
  }

  function showPrevPage() {
    if (currentPage > 0) {
      currentPage--;
      showPage(currentPage);
    }
  }

 
  showPage(0);
</script>
