<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  <!-- Head -->
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}

  <style>

  .content-container {
  all: initial !important; 
}

  </style>

</head>

<body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %}">

  <!-- Header -->
  {%- include header.html %}

  <!-- Content -->
  <div class="content-container">
    {{ content }}
  </div>

  <!-- JavaScripts -->
  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
</body>
</html>
